name: "workflow-run"
on:
  workflow_run:
    workflows: ["build-test"]
    # branches: [master]
    # types:
    #   - completed
    #   - requested

env:
  SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

jobs:
  on-success:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
    - uses: actions/checkout@v2
    - uses: act10ns/slack@v1
      with:
        status: ${{ github.event.workflow_run.conclusion }}
        channel: '#actions'
        config: .github/slack-workflow.yml
      if: always()

  on-failure:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'failure' }}
    steps:
    - uses: actions/checkout@v2
    - uses: act10ns/slack@v1
      with:
        status: ${{ github.event.workflow_run.conclusion }}
        channel: '#actions'
        config: .github/slack-workflow.yml
      if: always()
